@font-face {
    font-family: nixgonfontsL;
    src: url('/fonts/NIXGONFONTS L 2.0.ttf');
}

body {
    background-color: #777777;
    font-family: nixgonfontsL;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

p{
    color: #F0F0F0;
}

.loader{
    background-color: #000000;
    position: fixed;

    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.loader #loading_image
{
    position: fixed;
    left:50%;
    top:50%;
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:16px solid #f3f3f3;
    border-radius:50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#videobcg {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.container{
    max-height: 100vh;

    min-width: 100%;
    border: 2px solid white;
}

header{
    top:0px;
    left:0px;
    position: fixed;
    min-width: 100%;
    height: 100px;
    justify-content: space-between;
    border: 2px solid yellow;
}

.top_icon_list{
    height: 100px;
    line-height: 100px;
    border: 2px solid black;
    width: 30vw;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.top_icon_list li{
    float: left;
}
.top_icon_list li a{
    margin-right: 20px;
}


.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width:25px;
    height: 22px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 5px;
}

.menu-trigger span:nth-of-type(2) {
    top: 15px;
}

.menu-trigger span:nth-of-type(3) {
    top: 25px;
}
.menu-trigger.active {
    -webkit-transform : rotate(360deg);
    transform : rotate(360deg);
}
.menu-trigger.active span:nth-of-type(1),
.menu-trigger.active span:nth-of-type(3) {
    width : 10px;
}
.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform : translate(-1px, 7px) rotate(-45deg);
    transform : translate(-1px, 7px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform : translate(-1px, -7px) rotate(45deg);
    transform : translate(-1px, -7px) rotate(45deg);
}

.top_menu_list{
    border: 2px solid black;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    width: 50vw;
    float: right;
    list-style: none;
}
.top_menu_list li{
    float:left;
}
.top_menu_list li a{
    color: #F0F0F0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 32px;
}

.main{
    left:0px;
    padding-top: 100px;

    min-width:100%;
    border: 2px solid red;
}

.scene{
    height:100vh;
    min-width:100%;
    background-attachment: fixed;
}
.scene.one{
    background-image: url("/img/background_scene1.jpg");
}
.scene.two{
    background-image: url("/img/background_scene2.jpg");
}
.scene.three{
    background-image: url("/img/background_scene3.jpg");
}

footer{
    left:0px;
    min-width: 100%;
    border: 2px solid green;
}

nav{
    left:0px;
    min-height: 100%;
    max-height: 100%;
    max-width: 20%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);;}
}

@keyframes spin {
    0% { transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
