
@font-face {
    font-family: nixgonfontsL;
    src: url('fonts/NIXGONFONTS L 2.0.ttf'), url('/fonts/NIXGONFONTS L 2.0.ttf');
}
@font-face { font-family: 'NanumGothic';
    src: url('fonts/NanumGothic.eot'), url('/fonts/NanumGothic.eot');
    src: url('fonts/NanumGothic.eot') format('embedded-opentype') ,url('/fonts/NanumGothic.eot') format('embedded-opentype'),
    url('fonts/NanumGothic.woff') format('woff'),url('/fonts/NanumGothic.woff') format('woff');
}

@font-face {
    font-family: utoM;
    src: url('fonts/UTOIMAGE_유토이미지고딕_B_TTF'), url('/fonts/UTOIMAGE_유토이미지고딕_B_TTF');
}
@font-face {
    font-family: nanumSquareM;
    src: url('fonts/NanumSquareR'),url('/fonts/NanumSquareR');
}
@font-face {
    font-family: nanumSquareRoundM;
    src: url('fonts/NanumSquareRoundR'),url('/fonts/NanumSquareRoundR');
}

html,body {
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
    background-color: #777777;
    font-family: nixgonfontsL, nixgonfontsL_IE;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/img/background_macbook.jpg");
}
div {
    -webkit-overflow-scrolling:touch;
}

p{
    color: #F0F0F0;
}

.loader{

    background-color: #000000;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.loader #loading_image
{
    position: fixed;
    left:50%;
    top:50%;
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:16px solid #f3f3f3;
    border-radius:50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.showAnimation, .scene_title  {
    opacity:0;
    margin-left:-300px;
    max-width:100%;
}
.showAnimation2{
    opacity:0;

}

.container{
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    min-width: 100%;
    width: 100%;
    padding: 0;

    -webkit-overflow-scrolling: touch;
}

.header{
    top:0px;
    left:0px;
    position: fixed;
    min-width: 100%;
    height: 60px;
    line-height:60px;
    overflow: hidden;
    z-index: 1000;
    justify-content: space-between;
    background-color: transparent;
    -webkit-transition: background-color 0.7s;
    -moz-transition: ackground-color 0.7s;
    transition: background-color 0.7s;


}
.header.shrink {
    box-shadow: 0px 1px 3px -3px rgba(0,0,0,0.15);
    background-color: #222222;
}



.top_icon_list{
    height: 60vh;
    list-style: none;
    display: inline-block;
}
.top_icon_list li{
    float: left;
}
.top_icon_list li a{
    margin-right: 20px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.top_icon_list li a:hover{
    margin-right: 20px;
    color: coral;
    opacity: 0.5;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width:25px;
    height: 22px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 5px;
}

.menu-trigger span:nth-of-type(2) {
    top: 15px;
}

.menu-trigger span:nth-of-type(3) {
    top: 25px;
}
.menu-trigger.active {
    -webkit-transform : rotate(360deg);
    transform : rotate(360deg);
}
.menu-trigger.active span:nth-of-type(1),
.menu-trigger.active span:nth-of-type(3) {
    width : 10px;
}
.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform : translate(-1px, 7px) rotate(-45deg);
    transform : translate(-1px, 7px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform : translate(-1px, -7px) rotate(45deg);
    transform : translate(-1px, -7px) rotate(45deg);
}

.top_menu_list{

    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    width: 50vw;
    float: right;
    list-style: none;
}
.top_menu_list li{
    float:left;
}
.top_menu_list li a{

    color: #F0F0F0;
    font-size: 20px;
    text-decoration: none;
    margin-right: 32px;
    position: relative;
    display: block;
}

.top_menu_list li a:before, .top_menu_list li a:after {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    width: 0;
}

.top_menu_list li a:before { left: 0; }
.top_menu_list li a:after { right: 0; }

.top_menu_list li a:hover:before, .top_menu_list li a:hover:after {
    width: 50%;
}

.top_menu_list li a:before, .top_menu_list li a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main{
    left:0px;
    margin:0;
    padding-top: 100px;
    width: 100%;
    color: #F0F0F0;
    text-align: center;
}

.start{
    width:100%;
    min-height: 720px;
    height: 100vh;
}
.start h1{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 80px;
    font-family: nixgonfontsL;
    color: #F0F0F0;
    opacity: 0.5;
}
.typewriteWrap{
}
.start h2{
    margin-top: 100px;
}
.down_button{
    margin-top: 30px;
    display:inline-block;
    bottom: 20vh;
    text-align: center;
}
.down_button a{
    font-size: 50px;
    color:#F0F0F0;
}
.fas.fa-chevron-down{
    -webkit-animation: upanddown 2s linear infinite;
    animation: upanddown 2s linear infinite;
    display: inline-block;

}
.languageWrap{
    margin-top: 50px;
}
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    margin: 0 auto;
    width: 6em;
    height: 3em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all .4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 3em;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
    background: coral;
    content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
}
.scene{
    min-height: 720px;
    min-width:100%;
    padding-top:60px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 100px;
    transition: height 0.3s ease-in-out;
}
.scene_title{
    display: inline-block;
    font-weight: 900;
    padding-bottom: 50px;
    color:black;
}
.scene.one{
    background-color: #F9F9F9;
    color: #555555;
}
.card_tags_wrapper{
    width: 100%;
}
.card_tags{
    width: 100%;
    list-style: none;
    display: inline-block;

}
.card_tags li{
    font-size: 20px;
    margin-right:20px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    opacity: 1;
}
.card_tags li:hover{
    font-weight: bold;
    color:black;
}
.card_tags li.selected{
    font-weight: bold;
    color:black;
}

.cards_wrapper{
    max-width:100%;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}
.cards{
    grid-column: 2/ span 12;
    display:grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}
.card{
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);
}
.card:hover{
    transform: translateY(-7px);
}
.card.ng-leave{
    opacity: 0;
}
.card.ng-enter {
    opacity: 0;
}
.card.ng-enter-active {
    opacity: 1;
}

.card_container{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.card_container img{
    width:100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card_content{
    padding: 20px;
}
.card_title{
    margin-bottom: 20px;
    color: #333333;
}
.card_info{
    display:flex;
    align-items: center;
    color:white;
}
.card_info a{
    text-decoration: none;
    color:white;
    margin-left: auto;
    padding: 5px 15px;
    background-color: #333333;
    border-radius: 15px;
    display: inline-block;
    transition: background-color 0.3s ease 0s;
}
.card_info a:hover{
    background-color: #454545;
}
.card_type{
    color:#333333;
    position: absolute;
    padding: 5px 20px; background-color: #f0f0f0;
    border-radius: 10px;
    top:0%;
    left: 0%;
}
.card_context{

}

.popupVideo a{
    cursor:pointer;
}
.video-popup.reveal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index:9
}

.video-popup .video-wrapper {

    position: relative;
    width: 80%;
    margin-top: 50px;
    padding-bottom: 45%;
    z-index: 10
}

.video-popup .video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-popup.reveal .video-popup-closer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9
}
.google_play_down{
    display: inline-block;
    text-align: center;
}
.google_play_image{
    width: 208px;
    height: 78px;
    display: inline-block;
}



/*두번째 씬*/
.scene.two{
    background-color: #F9F9F9;
    color: #555555;

}
.scene.two p{
    color: #555555;
}
.scene_about{
    display: inline-block;
    width:100%;
}

.about_card{
    margin: 0 auto;
    background-color: white;
    height: 200px;
    width: 420px;
    max-width: 100%;
    padding:15px;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.15);
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease 0s;
    cursor: pointer;
}
.about_card:hover{
    transform: translateY(+7px);
}
.about_card p{
    text-align: center;
    margin-top:10px;
}
.scene_about_wrap{
    max-width: calc(100% - 500px);
    width:100%;
    font-family: NanumGothic;
    margin:0 auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow-x:hidden;
}

.scene_about i{
    font-size: 18px;
    color: springgreen;
    padding-right: 20px;
}

.about_menu_wrapper{
    position: absolute;
}
.about_menu_wrapper ul{
    list-style: none;
}
.about_menu_wrapper li{
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s color ease-in-out;
    -o-transition: 0.1s color ease-in-out;
    -moz-transition: 0.1s color ease-in-out;
    -webkit-transition: 0.1s color ease-in-out;
}
.about_menu_wrapper li:hover{
    color: black;
    font-weight: bold;
}
.about_menu_wrapper li.selected{
    color: black;
    font-weight: bold;
}
#scene_profile{
    padding-bottom: 150px;
}
#scene_profile img{
    border-radius: 100%;
}
#scene_keyword{
    margin-top: 60px;
}
.about_keyword ul{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin:0 auto;

}
.about_keyword li{
    margin-bottom:20px;
    width: 100%;
    text-align: left;
}
.about_keyword li i{
    width:40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.15);
    color:springgreen;
    display: inline-block;

}
.about_keyword li div{
    display: inline-block;
}
.about_keyword li h4{
    font-weight: bold;
    margin-left: 15px;
    display: inline-block;

}
.about_keyword li span{
    font-size:18px;
    margin-left: 30px;
}
.name_wrap{
    float:left;
    display: inline-block;
    background-color: mediumspringgreen;
    color: #333333;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}
.name_wrap span{
    font-family: nixgonfontsL;
    font-weight: bold;
    color: #333333;
}
#scene_education{
    top:0;
    display: block;
    width: 100%;
    margin-top: 30px;
    vertical-align: top;
    font-family: NanumGothic;
}
#scene_education p, span{
    text-align: left;
}

.timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: rgba(200, 200, 200, 0.8);
    font-family: "Chivo", sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    left: 70px;
    max-width: calc(100% - 70px);
}
.timeline h1 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
    color: #333333;
}
.timeline .event {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: #333333;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: "Saira", sans-serif;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px royalblue;
    left: -57.85px;
    background: white;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}
#scene_skill{
    margin-top: 30px;
    display: block;
    width: 100%;
    vertical-align: top;

}
#scene_skill ul{
    list-style: none;
    padding: 0;
}

.skill_type{
    margin-left: 0;
    max-width: 100%;
    height: 60px;
    display: inline-block;
}
.skill_type span{
    font-weight: bold;
    font-size: 16px;
}
.skill_info_wrapper{
    margin-top:30px;
    width: 100%;
    display: inline-block;
    font-family: NanumGothic;
}
.skill_info_wrapper ul{
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 0;
}
.skill_info_wrapper li{
    margin-bottom: 25px;
}


.skill_Proficiency_percent span{
    background-color: rgba(0,0,0,0.2);
    color:white;
    padding: 3px;
    border-radius: 5px;
    font-size: 10px;
    margin-top:5px;
    margin-right:3px;
    float:right;
}
.skill_category{
    margin:0 auto;
    display: inline-block;
}
.skill_category ul{
    margin: 0 auto;
    display: inline-block;
}
.skill_category li{
    font-family: nixgonfontsL;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    margin-right:12px;
}
.skill_category li:hover{
    color:black;
    font-weight: bold;
}
.skill_category li.selected{
    color:black;
    font-weight: bold;
}
.skill_Proficiency{
    float: right;
    margin-top:10px;
    height:30px;
    width: calc(100% - 120px);
    display: inline-block;
}
.scene.three{
    //background-color: white;
    background-color: rgba(0,0,0,0);
    color: #F0F0F0;
}

.contact_mail{
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 0 auto;
    margin-top:50px;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
}
.contact_mail fieldset{
    border: none;
}
.contact_mail legend {
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.contact_mail input[type="text"],
.contact_mail input[type="date"],
.contact_mail input[type="datetime"],
.contact_mail input[type="email"],
.contact_mail input[type="number"],
.contact_mail input[type="search"],
.contact_mail input[type="time"],
.contact_mail input[type="url"],
.contact_mail textarea,
.contact_mail select {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    max-height: 200px;
}
.contact_mail input[type="text"]:focus,
.contact_mail input[type="date"]:focus,
.contact_mail input[type="datetime"]:focus,
.contact_mail input[type="email"]:focus,
.contact_mail input[type="number"]:focus,
.contact_mail input[type="search"]:focus,
.contact_mail input[type="time"]:focus,
.contact_mail input[type="url"]:focus,
.contact_mail textarea:focus,
.contact_mail select:focus{
    background: #d2d9dd;
}
.contact_mail textarea
{
    min-height: 100px;
}
.contact_mail select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.contact_mail .number {
    background: coral;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.contact_mail input[type="submit"],
.contact_mail input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #222222;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
    border:none;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.contact_mail input[type="submit"]:hover,
.contact_mail input[type="button"]:hover
{
    background: coral;
}
#honeypot {
    display: none; /*일반적인 사용자에게 보이지 않도록 숨기세요*/
}
.contact_mail p{
    color: #222222;
}
.contact_mail form{
    display: block;
}
.thankyou_message{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.5);
    top:0;
    left:0;
    color: #222222;
    font-family: NanumGothic;
}
#popup{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    width: 300px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #F0F0F0;
}

.thankyou_message .popup_exit {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #222222;
    cursor: pointer;
    color: #F0F0F0;
}



footer{
    height: 200px;
    line-height: 30px;
    background-color: #222222;
    min-width: 100%;
    text-align: center;
}
footer a{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
footer img{
    margin-top: 10px;
}

footer span{
    display: block;
    margin-top:20px;
    color: #A0A0A0;
    font-size: 18px;
    font-family: NanumGothic;
    text-align: center;
}

.nav{
    visibility: hidden;
    top:0;
    left:0;
    bottom: 0;
    padding-top:60px;
    width: 0px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    box-shadow: 0px 2px 3px 1px #222222;
    -webkit-transition: width 1s, background-color 1s;
    -moz-transition: width 1s, background-color 1s;
    transition: width 1s, background-color 1s;
}
.nav.open{
    width: 250px;
    background-color: #222222;
}
.nav_content{
    height: 100%;
}
.nav_content ul{
    padding-top: 50px;
    list-style: none;
    width: 100%;
    height: 300px;
}
.nav_content ul li{
    margin-top:30px;

}
.nav_content ul li a{
    text-decoration: none;
    color: #B0B0B0;
    font-size: 20px;
    border-bottom: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}
.nav_content ul li a:hover{
    color: coral;
}
.nav_content ul li p{
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}
.nav_content ul li p:hover{
    color: coral;
}

.link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav_content .contact{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #333333;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);;}
}

@keyframes spin {
    0% { transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@keyframes upanddown
{
    0%{transform:translateY(10px);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(10px);}
}
@-webkit-keyframes upanddown {
    0%{-webkit-transform:translateY(10px);}
    50%{-webkit-transform:translateY(-20px);}
    100%{-webkit-transform:translateY(10px);}
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media ( max-width: 1080px ) {
    .card{
        grid-column-end: span 6;
    }
}



@media ( max-width: 768px ) {
    .top_menu_list
    {
        display: none;
    }
    .start h1{
        height: 100px;
        line-height: 100px;
        font-size: 40px;
    }
    .work_wrap {
        width: 100%;
    }
    .google_play_image{
        width: 104px;
        height: 39px;
    }
    .scene_about {
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 100%;
        width:100%;
    }
    .scene_about_wrap{
        max-width: 100%;
    }
    .about_col_1{
        width:100%;
    }
    .about_col_2{
        width:100%;
    }

    #scene_education{
        margin-top:15px;
    }
    #scene_education li{
        float:left;
        padding:0;
        magrin:0;
        margin-right:10px;
    }
    #scene_education h3{
        padding-bottom: 0;
    }
    #scene_skill img{
        width: 42px;
        height: 42px;
    }
    .about_keyword li h4{
         display: block;
     }
    .about_keyword li span{
        margin-left:0;
    }
    .skill_category li{
        font-size: 14px;
    }
    .card {
        grid-column-end: span 6;
    }
    footer span{
        color: #A0A0A0;
        font-size: 14px;
        font-family: utoM;
    }
}
@media ( max-width: 600px ) {
    .cards_wrapper{
        max-width:100%;
        grid-template-columns: 1fr repeat(10, minmax(auto, 40px)) 1fr;
        grid-gap: 0px;
    }
    .cards{
        grid-column: 2/ span 10;
        grid-template-columns: repeat(10, minmax(auto, 40px));
        grid-gap: 0px;
    }
    .card{
        grid-column-end: span 10;
    }
}

