<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Hobook Games">

    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/timeline.js"></script>
    <script>
        $(function(){
            $().timelinr({
                arrowKeys: 'true'
            })
        });
    </script>
    <script src="js/portfolio.js"></script>
    <script src="js/loading.js"></script>


    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/ios_home.png">
    <title>개발자 박경호 | Portfolio Web</title>
</head>
<body style="background-image: url('img/background_macbook.jpg');">

    <!-- 로딩 화면 -->
    <div class="loader">
        <div id="loading_image">

        </div>
    </div>
    <!-- 메인 화면 -->
    <div class="container" ng-app="app">

        <!-- 탑 레이아웃 -->
        <header class="header" id="header">
            <ul class="top_icon_list">
                <li>
                    <a class="menu-trigger" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li><a href="http://www.ghpark.site"><img width="32" height="32" src="img/logo_32x32.png" alt="로고"></a></li>
                <li><a href="https://github.com/HOBOOK" target="_blank"><img width="32" height="32" src="img/github.png" alt="깃헙"></a></li>
                <li><a href="http://blog.naver.com/pkh879" target="_blank"><img width="32" height="32" src="img/naver_blog.png" alt="블로그"></a></li>

            </ul>
            <ul class="top_menu_list">
                <li>
                    <a class="menu_click" href="about">
                        <span data-langNum="header_menu_0">소개</span>
                    </a>
                </li>
                <li>
                    <a data-langNum="header_menu_1" class="menu_click" href="works">프로젝트</a>
                </li>
                <li>
                    <a data-langNum="header_menu_2" class="menu_click" href="contact">연락</a>
                </li>
                <li>
                    <a href="http://www.ghpark.site/pdf/portfolio.pdf" target="_blank">PDF</a>
                </li>
            </ul>
        </header>
        <!-- 메인 레이아웃 -->
        <div class="main">
            <div class="start" ng-controller="mainController">
                <div style="position:relative; width: 100%; min-height:720px; height: 100%;">
                    <h1>
                        <span href="" class="typewrite" data-period="2000" data-type='[ "G.H Park.", "Programmer", "Welcome!" ]'>
                            <span class="typewriteWrap"></span>
                        </span>
                    </h1>
                    <h2 data-langNum="start_title_0" class="start_text">방문해 주셔서 감사합니다.</h2>
                    <p>{{version}}</p>
                    <!--언어 변경 버튼-->
<!--                    <div class="languageWrap">-->
<!--                        <input class="tgl tgl-flip" id="cb5" type="checkbox"/>-->
<!--                        <label class="tgl-btn" data-tg-off="English" data-tg-on="한국어" for="cb5"></label>-->
<!--                    </div>-->
                    <div class="down_button">
                        <a class="menu_click" href="about"><i class="fas fa-chevron-down"></i></a>
                    </div>

                </div>
            </div>
            <section class="scene two" id="about" ng-controller="aboutController">
                <h1 class="scene_title" ng-bind="getAboutHeader()"></h1>
                <div class="about_menu_wrapper">
                    <ul>
                        <li ng-class="selectedAbout(0)" ng-click="selectAbout(0)">Introduce</li>
                        <li ng-class="selectedAbout(1)" ng-click="selectAbout(1)">Skills</li>
                        <li ng-class="selectedAbout(2)" ng-click="selectAbout(2)">Timeline</li>
                    </ul>
                </div>
                <div class="scene_about_wrap">
                    <div class="scene_about" id="scene_profile" ng-show="targetIndex===0">
                        <div class="about_card">
                            <div style="display:inline-block; float:left; height: 100%; padding-right:20px;">
                                <img src="img/profile2.png" width="80" height="120" alt="프로필사진"/>
                                <p data-langNum="about_name" class="showAnimation2">박 경 호</p>
                            </div>
                            <div style="height: 100%;">
                            <span class="name_wrap">
                                <span class="showAnimation2">Programmer | Full-Stack</span>
                            </span>
                                <br/>
                                <br/>
                                <span style="text-align: left;" data-langNum="about_greetings_0" class="showAnimation2">안녕하세요! 제 포트폴리오 사이트에 와주셔서 감사합니다. 항상 창의적이고 책임감있게 일하겠습니다.</span>
                            </div>
                        </div>
                        <div id="scene_keyword">
                            <div class="about_keyword">
                                <ul>
                                    <li class="showAnimation2"><i class="fas fa-fire"></i><div><h4 data-langNum="keyword_title_0">'열정'</h4><span data-langNum="keyword_information_0">저는 강한 추진력을 가지고 열정적으로 일하는 사람입니다.</span></div></li>
                                    <li class="showAnimation2"><i class="fas fa-walking"></i><div><h4 data-langNum="keyword_title_1">'도전'</h4><span data-langNum="keyword_information_1">개발에 있어 새로운 도전을 좋아하는 사람입니다.</span></div></li>
                                    <li class="showAnimation2"><i class="fas fa-seedling"></i><div><h4 data-langNum="keyword_title_2">'성장'</h4><span data-langNum="keyword_information_2">아직 많이 배우고 성장하고 싶은 주니어 개발자 입니다.</span></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="scene_about" id="scene_skill" ng-show="targetIndex===1">
                        <span class="skill_category">
                            <ul>
                                <li ng-class="selectedSkillType(0)" ng-click="selectSkillType(0)"># Programming Language</li>
                                <li ng-class="selectedSkillType(1)" ng-click="selectSkillType(1)"># Framework</li>
                                <li ng-class="selectedSkillType(2)" ng-click="selectSkillType(2)"># Database</li>
                                <li ng-class="selectedSkillType(3)" ng-click="selectSkillType(3)"># Server</li>
                                <li ng-class="selectedSkillType(4)" ng-click="selectSkillType(4)"># Etc</li>
                            </ul>
                        </span>
                        <div class="skill_info_wrapper">
                            <ul ng-show="targetSkillType===0">
                                <li ng-repeat="skill in skills">
                                    <div class="skill_type"><img width="48" height="48" ng-src="{{skill.image}}"/>
                                        <span>{{skill.title}}</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="info in skill.info">- {{info.description}}</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul ng-show="targetSkillType===1">
                                <li ng-repeat="skill in skills">
                                    <div class="skill_type"><img width="48" height="48" ng-src="{{skill.image}}"/>
                                        <span>{{skill.title}}</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="info in skill.info">- {{info.description}}</li>
                                    </ul>
                                </li>
                            </ul>

                            <ul ng-show="targetSkillType===2">
                                <li ng-repeat="skill in skills">
                                    <div class="skill_type"><img width="48" height="48" ng-src="{{skill.image}}"/>
                                        <span>{{skill.title}}</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="info in skill.info">- {{info.description}}</li>
                                    </ul>
                                </li>
                            </ul>

                            <ul ng-show="targetSkillType===3">
                                <li ng-repeat="skill in skills">
                                    <div class="skill_type"><img width="48" height="48" ng-src="{{skill.image}}"/>
                                        <span>{{skill.title}}</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="info in skill.info">- {{info.description}}</li>
                                    </ul>
                                </li>
                            </ul>

                            <ul ng-show="targetSkillType===4">
                                <li ng-repeat="skill in skills">
                                    <div class="skill_type"><img width="48" height="48" ng-src="{{skill.image}}"/>
                                        <span>{{skill.title}}</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="info in skill.info">- {{info.description}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="scene_about" id="scene_education" ng-show="targetIndex===2">
                        <div id="timeline-content">
                            <ul class="timeline">
                                <li class="event" data-date="2020">
                                    <h3 data-langNum="timeline_title_11">다우기술 인턴</h3>
                                    <h5 data-langNum="timeline_subtitle_11">20.05.18~20.06.12</h5>
                                    <p data-langNum="timeline_info_11">다우기술의 서비스개발본부에서 백엔드 개발자 인턴을 진행하였습니다.</p>
                                </li>
                                <li class="event" data-date="2020">
                                    <h3 data-langNum="timeline_title_10">웹 개발자 중고 신입</h3>
                                    <h5 data-langNum="timeline_subtitle_10">20.01.02~</h5>
                                    <p data-langNum="timeline_info_10">실패를 겪고 다시 웹 개발자로서 앞으로 나아가는중입니다.</p>
                                </li>
                                <li class="event" data-date="2019">
                                    <h3 data-langNum="timeline_title_0">1인 개발자</h3>
                                    <h5 data-langNum="timeline_subtitle_0">19.01.02~19.12.31</h5>
                                    <p data-langNum="timeline_info_0">회사 퇴사후에 조금이라도 젊을 때 도전해보고자 1인 게임 개발자로 1년간 활동했습니다.</p>
                                </li>
                                <li class="event" data-date="2018">
                                    <h3 data-langNum="timeline_title_1">NSE 신입</h3>
                                    <h5 data-langNum="timeline_subtitle_1">18.04.16~18.12.31</h5>
                                    <p data-langNum="timeline_info_1">NSE 기업에서 앱 생명주기관리(ALM) 웹 솔루션 유지보수일을 하였습니다.</p>
                                </li>
                                <li class="event" data-date="2018">
                                    <h3 data-langNum="timeline_title_4">경상대학교 경영정보학과 졸업</h3>
                                    <h5 data-langNum="timeline_subtitle_4">18.02.16</h5>
                                    <p data-langNum="timeline_info_4">IT 융합 솔루션 트랙제 이수, 학점 4.0/4.5로 졸업을 하였습니다.</p>
                                </li>
                                <li class="event" data-date="2017">
                                    <h3 data-langNum="timeline_title_6">교내 20회 S/W 프로젝트 경진대회 대상</h3>
                                    <h5 data-langNum="timeline_subtitle_6">17.05.17</h5>
                                    <p data-langNum="timeline_info_6">증강현실을 이용한 역사 탐방 모바일 APP 구현으로 대상을 수상하였습니다.</p>
                                </li>
                                <li class="event" data-date="2017">
                                    <h3 data-langNum="timeline_title_6">전국 IT 융합창업경진대회 장려상</h3>
                                    <h5 data-langNum="timeline_subtitle_6">17.04.21</h5>
                                    <p data-langNum="timeline_info_6">증강현실을 이용한 역사 탐방 모바일 APP 설계 및 비즈니스 모델 제시로 장려상을 수상하였습니다.</p>
                                </li>
                                <li class="event" data-date="2016">
                                    <h3 data-langNum="timeline_title_6">교내 19회 S/W 프로젝트 경진대회 대상</h3>
                                    <h5 data-langNum="timeline_subtitle_6">16.12.21</h5>
                                    <p data-langNum="timeline_info_6">교내 콘텐츠 제공 웹사이트로 대상을 수상하였습니다.</p>
                                </li>
                                <li class="event" data-date="2015">
                                    <h3 data-langNum="timeline_title_8">프로그래밍 공부 시작</h3>
                                    <h5 data-langNum="timeline_subtitle_8">공부</h5>
                                    <p data-langNum="timeline_info_8">군대 전역 후 본격적으로 프로그래밍 공부를 시작하였습니다.</p>
                                </li>
                                <li class="event" data-date="2012">
                                    <h3 data-langNum="timeline_title_9">경상대학교 경영정보학과 입학</h3>
                                    <h5 data-langNum="timeline_subtitle_9">공부</h5>
                                    <p data-langNum="timeline_info_9">국립 경상대학교에 입학하였습니다.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="scene one" id="works" ng-controller="projectController">
                <h1 class="scene_title">저는 이런 프로젝트를 해봤습니다</h1>
                <div class="card_tags_wrapper">
                    <ul class="card_tags">
                        <li ng-class="selectedTag(0)" ng-click="filter(0)">ALL</li>
                        <li ng-class="selectedTag(1)" ng-click="filter(1)"># Web</li>
                        <li ng-class="selectedTag(2)" ng-click="filter(2)"># Mobile App</li>
                        <li ng-class="selectedTag(3)" ng-click="filter(3)"># Mobile Game</li>
                        <li ng-class="selectedTag(4)" ng-click="filter(4)"># Blog</li>
                    </ul>
                </div>
                <div class="cards_wrapper">
                    <div class="cards">
                        <div class="card" ng-repeat="project in projects" ng-click="showModal($event, project)">
                            <div class="card_container">
                                <img ng-src="{{project.image}}"/>
                                <div class="card_type">
                                    # {{project.type}}
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    {{project.title}}
                                </h3>
                                <p class="card_title" data-langNum="i_9">
                                    {{project.description}}
                                </p>
                                <span class="card_info">
                                    <span class="popupVideo block" ng-show="{{project.video}}">
                                        <a data-video="{{project.video.id}}" class="block" ng-click="popupVideo(project.video.id)">
                                            <i ng-class="getCardInfoImage(project.video.type)"></i> {{project.video.type}}
                                        </a>
                                    </span>
                                    <a target=_blank ng-repeat="info in project.info" ng-href="{{info.href}}" class="block">
                                        <i ng-class="getCardInfoImage(info.type)"></i> {{info.type}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="scene three" id="contact">
                <h1 class="scene_title" style="color: white;">연락주세요</h1>
                <div class="contact_mail">
                    <form onsubmit="return formCheck(this)" class="gform" method="POST" data-email="pkh879@gmail.com"
                          action="https://script.google.com/macros/s/AKfycbzWseXWbbJegzYE0gErbyA2FBr3IyCgRoYoE7fjz4YcAnwR3xg/exec">
                        <fieldset>
                            <legend><span class="number">1</span><span data-langNum="mail_info_category_0">보내는 분</span></legend>
                            <input type="text" name="name" placeholder="Your Name" required>
                            <input type="email" name="email" placeholder="Your Email Address" required>
                        </fieldset>
                        <fieldset>
                            <legend><span class="number">2</span><span data-langNum="mail_info_category_1">내용</span></legend>
                            <textarea name="message" placeholder="Message" required></textarea>
                            <label class="sr-only">Keep this field blank</label>
                            <input id="honeypot" type="text" name="honeypot" value="" />
                        </fieldset>
                        <input type="submit" value="Send">

                        <div style="display:none;" class="thankyou_message">
                            <!-- You can customize the thankyou message by editing the code below -->
                            <div id="popup">
                                <p>성공적으로 메시지가 전송되었습니다!</p>
                                <div class="popup_exit">닫기</div>
                            </div>
                        </div>
                    </form>
                </div>

            </section>

        </div>
        <!-- 바텀 레이아웃 -->
        <footer class="bottom">
            <a class="menu_click" href="header"><i class="fas fa-chevron-up"></i></a>
            <img style="width:48px; height: 48px;" src="img/logo.png" alt="로고"/><span>© 2020 G.H Park. All Rights Reserved.</span>
        </footer>
        <!-- 네비 레이아웃 -->
        <nav class="nav">
            <div class="nav_content">
                <ul>
                    <li><a class="nav_item" href="about"><i class="fas fa-address-card"></i><p data-langNum="header_menu_0">소개</p></a></li>
                    <li><a class="nav_item" href="works"><i class="fas fa-gamepad"></i><p data-langNum="header_menu_1">프로젝트</p></a></li>
                    <li><a class="nav_item" href="contact"><i class="fas fa-mail-bulk"></i><p data-langNum="header_menu_2">연락</p></a></li>
                    <li><a href="http://www.gphark.site/pdf/portfolio.pdf" target="_blank"><i class="fas fa-file-pdf"></i><p>PDF</p></a></li>
                </ul>
                <div class="contact">
                    <p class="contact_info" style="color:#F0F0F0; font-weight: bold">박경호</p>
                    <p class="contact_info" style="color:#B0B0B0;">Full-Stack Programmer</p>
                    <p class="contact_info" style="color:#B0B0B0;">pkh879@gmail.com</p>
                </div>
            </div>
        </nav>
        <div style="1px;" class="spacer"></div>

        <!-- 팝업 화면 -->
        <div class="video-popup">
            <div class="video-popup-closer"></div>
        </div>
    </div>

    <!-- js -->
<!--    <script src="js/language.js"></script>-->
    <script src="js/menu.js"></script>
<!--    <script data-cfasync="false" src="form-submission-handler.js"></script>-->
    <script data-cfasync="false" type="text/javascript"
            src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

</body>
</html>