<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Hobook Games">

    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/timeline.js"></script>
    <script>
        $(function(){
            $().timelinr({
                arrowKeys: 'true'
            })
        });
    </script>
    <script src="js/loading.js"></script>


    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/ios_home.png">
    <title>개발자 박경호 | Portfolio Web</title>
</head>
<body style="background-image: url('img/background_macbook.jpg');">

    <!-- 로딩 화면 -->
    <div class="loader">
        <div id="loading_image">

        </div>
    </div>
    <!-- 메인 화면 -->
    <div class="container" ng-app="app">

        <!-- 탑 레이아웃 -->
        <header class="header" id="header">
            <ul class="top_icon_list">
                <li>
                    <a class="menu-trigger" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </li>
                <li><a href="http://www.hobookgames.site/"><img width="32" height="32" src="img/logo_32x32.png" alt="로고 이미지"></a></li>
                <li><a href="http://blog.naver.com/pkh879" target="_blank"><img width="32" height="32" src="img/naver_blog.png" alt="블로그"></a></li>

            </ul>
            <ul class="top_menu_list">
                <li>
                    <a class="menu_click" href="about">
                        <span data-langNum="header_menu_0">소개</span>
                    </a>
                </li>
                <li>
                    <a data-langNum="header_menu_1" class="menu_click" href="works">작업물</a>
                </li>
                <li>
                    <a data-langNum="header_menu_2" class="menu_click" href="contact">연락</a>
                </li>
            </ul>
        </header>
        <!-- 메인 레이아웃 -->
        <div class="main">
            <div class="start">
                <div style="position:relative; width: 100%; min-height:720px; height: 100%;">
                    <h1>
                        <span href="" class="typewrite" data-period="2000" data-type='[ "G.H Park.", "Programmer", "Welcome!" ]'>
                            <span class="typewriteWrap"></span>
                        </span>
                    </h1>
                    <h2 data-langNum="start_title_0" class="start_text">방문해 주셔서 감사합니다.</h2>
                    <div class="languageWrap">
                        <input class="tgl tgl-flip" id="cb5" type="checkbox"/>
                        <label class="tgl-btn" data-tg-off="English" data-tg-on="한국어" for="cb5"></label>
                    </div>
                    <div class="down_button">
                        <a class="menu_click" href="about"><i class="fas fa-chevron-down"></i></a>
                    </div>

                </div>
            </div>
            <section class="scene two" id="about">
                <h1 class="scene_title">About</h1>
                <div class="scene_about_wrap">
                    <div class="about_col_1">
                        <div class="scene_about" id="scene_profile">
                            <div class="scene_about_title"><i class="fas fa-history"></i>Introduce</div>
                            <div class="about_card">
                                <div style="display:inline-block; float:left; height: 100%; padding-right:20px;">
                                    <img src="img/profile2.png" width="120" height="120" alt="프로필사진"/>
                                    <p data-langNum="about_name" class="showAnimation2">박 경 호</p>
                                    <p>1993.09.17</p>
                                </div>
                                <div style="height: 100%;">
                                <span class="name_wrap">
                                    <span class="showAnimation2">Programmer | Full-Stack</span>
                                </span>
                                    <br/>
                                    <br/>
                                    <span style="text-align: left;" data-langNum="about_greetings_0" class="showAnimation2">안녕하세요! 제 포트폴리오 사이트에 와주셔서 감사합니다. 항상 창의적이고 책임감있게 일하겠습니다.</span>
                                </div>
                            </div>
                        </div>
                        <div class="scene_about" id="scene_education">
                            <div class="scene_about_title"><i class="fas fa-history"></i>Timeline</div>
                            <div id="timeline-content">
                                <ul class="timeline">
                                    <li class="event" data-date="2020">
                                        <h3 data-langNum="timeline_title_0">Portfolio Web</h3>
                                        <h5 data-langNum="timeline_subtitle_0">개인 프로젝트</h5>
                                        <h6>SpringFramework, AngularJs, AWS</h6>
                                        <p data-langNum="timeline_info_0">포트폴리오 웹사이트를 개설하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2019">
                                        <h3 data-langNum="timeline_title_1">Push Cube</h3>
                                        <h5 data-langNum="timeline_subtitle_1">모바일 게임 프로젝트</h5>
                                        <h6>C#, Unity Engine, Facebook SDK, Google API</h6>
                                        <p data-langNum="timeline_info_1">모바일 퍼즐 게임 'Push Cube'를 1인 개발 및 출시하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2019">
                                        <h3 data-langNum="timeline_title_2">Flat Heroes</h3>
                                        <h5 data-langNum="timeline_subtitle_2">모바일 게임 프로젝트</h5>
                                        <h6>C#, Unity Engine, Firebase SDK, Google API</h6>
                                        <p data-langNum="timeline_info_2">모바일 RPG 게임 'Flat Heroes'를 1인 개발 및 출시하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2018">
                                        <h3 data-langNum="timeline_title_3">NSE Silkroad</h3>
                                        <h5 data-langNum="timeline_subtitle_3">ALM 솔루션 유지보수</h5>
                                        <h6>C#, .NET Core, ExtJs, Sql server</h6>
                                        <p data-langNum="timeline_info_3">ALM 솔루션 회사에서 소스 파일 형상관리 모듈 유지 보수 및 기능 개발을 하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2018">
                                        <h3 data-langNum="timeline_title_4">경상대학교 경영정보학과 졸업</h3>
                                        <h5 data-langNum="timeline_subtitle_4">공부</h5>
                                        <h6>MIS</h6>
                                        <p data-langNum="timeline_info_4">IT 융합 솔루션 트랙제 이수, 학점 4.0/4.5으로 졸업을 하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2017">
                                        <h3 data-langNum="timeline_title_5">Saghistory</h3>
                                        <h5 data-langNum="timeline_subtitle_5">개인 프로젝트</h5>
                                        <h6>Java, JSP, Sql server, Tomcat</h6>
                                        <p data-langNum="timeline_info_5">여자친구와 같이 사진 저장, 블로그 용도로 만든 웹사이트를 개발하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2017">
                                        <h3 data-langNum="timeline_title_6">안드로이드 앱 HistoAR</h3>
                                        <h5 data-langNum="timeline_subtitle_6">경진대회 프로젝트</h5>
                                        <h6>Java, Android Studio, KaKao API, Google Maps API</h6>
                                        <p data-langNum="timeline_info_6">증강현실을 이용한 역사 탐방 모바일 APP 시스템 설계 및 구현을 하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2016">
                                        <h3 data-langNum="timeline_title_7">반응형 웹페이지 Do the G</h3>
                                        <h5 data-langNum="timeline_subtitle_7">경진대회 프로젝트</h5>
                                        <h6>Java, JSP, Sql server, Tomcat</h6>
                                        <p data-langNum="timeline_info_7">교내 콘텐츠 제공 목적의 웹사이트 시스템 설계 및 구현을 하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2015">
                                        <h3 data-langNum="timeline_title_8">프로그래밍 공부 시작</h3>
                                        <h5 data-langNum="timeline_subtitle_8">공부</h5>
                                        <h6>C#, Java, Sql server</h6>
                                        <p data-langNum="timeline_info_8">본격적으로 프로그래밍 공부를 시작하였습니다.</p>
                                    </li>
                                    <li class="event" data-date="2012">
                                        <h3 data-langNum="timeline_title_9">경상대학교 경영정보학과 입학</h3>
                                        <h5 data-langNum="timeline_subtitle_9">공부</h5>
                                        <h6>MIS</h6>
                                        <p data-langNum="timeline_info_9">국립 경상대학교에 입학하였습니다.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about_col_2">
                        <div class="scene_about" id="scene_keyword">
                            <div class="scene_about_title"><i class="fas fa-history"></i>Keyword</div>
                            <div class="about_keyword">
                                <ul>
                                    <li class="showAnimation2"><i class="fas fa-fire"></i><div><h4 data-langNum="keyword_title_0">'열정'</h4><span data-langNum="keyword_information_0">뚜렷한 목표와 열정으로 일하는 프로그래머</span></div></li>
                                    <li class="showAnimation2"><i class="fas fa-walking"></i><div><h4 data-langNum="keyword_title_1">'도전'</h4><span data-langNum="keyword_information_1">새로운 것을 도전하는 걸 망설이지 않는 프로그래머</span></div></li>
                                    <li class="showAnimation2"><i class="fas fa-seedling"></i><div><h4 data-langNum="keyword_title_2">'성장'</h4><span data-langNum="keyword_information_2">항상 배움의 자세로 성장하는 프로그래머</span></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="scene_about" id="scene_skill">
                            <div class="scene_about_title"><i class="fas fa-laptop-code"></i>Skill</div>
                            <span class="skill_category">Programming Language</span>
                            <ul>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_csharp.png"/><p>C#</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 90%;background-color: skyblue;border-radius: 5px;"><span>5 years</span><p style="vertical-align: center;font-weight: bold; color:white;">90%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_java.png"/><p>Java</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 85%;background-color: skyblue;border-radius: 5px;"><span>4 years</span><p style="vertical-align: center;font-weight: bold;color:white;">85%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_javascript.png"/><p>Javascript</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 50%;background-color: skyblue;border-radius: 5px;"><span>2 years</span><p style="vertical-align: center;font-weight: bold;color:white;">50%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_jsp.png"/><p>JSP</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 50%;background-color: skyblue;border-radius: 5px;"><span>1 year</span><p style="vertical-align: center;font-weight: bold;color:white;">50%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_python.png"/><p>Python</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 30%;background-color: skyblue;border-radius: 5px;"><span>studying</span><p style="vertical-align: center;font-weight: bold;color:white;">30%</p></div></div></li>
                            </ul>
                            <span class="skill_category">Framework</span>
                            <ul>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_net.png"/><p>.NET Framework</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 75%;background-color: skyblue;border-radius: 5px;"><span>2 years</span><p style="vertical-align: center;font-weight: bold;color:white;">60%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_spring.png"/><p>Spring Framework</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 40%;background-color: skyblue;border-radius: 5px;"><span>1 month</span><p style="vertical-align: center;font-weight: bold;color:white;">40%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_angularjs.png"/><p>Angular Js</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 30%;background-color: skyblue;border-radius: 5px;"><span>1 month</span><p style="vertical-align: center;font-weight: bold;color:white;">30%</p></div></div></li>
                            </ul>
                            <span class="skill_category">IDE</span>
                            <ul>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_visualstudio.png"/><p>Visual Studio</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 85%;background-color: skyblue;border-radius: 5px;"><span>5 yeas</span><p style="vertical-align: center;font-weight: bold;color:white;">85%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_intellij.png"/><p>Intelli J</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 70%;background-color: skyblue;border-radius: 5px;"><span>2 years</span><p style="vertical-align: center;font-weight: bold;color:white;">70%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_android.png"/><p>Android Studio</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 50%;background-color: skyblue;border-radius: 5px;"><span>1 year</span><p style="vertical-align: center;font-weight: bold;color:white;">50%</p></div></div></li>
                            </ul>
                            <span class="skill_category">DBMS, Engine, Cloud Service, Version Control</span>
                            <ul>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_unity.png"/><p>Unity Engine</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 80%;background-color: skyblue;border-radius: 5px;"><span>2 years</span><p style="vertical-align: center;font-weight: bold;color:white;">80%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_mssql.png"/><p>SQL server</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 70%;background-color: skyblue;border-radius: 5px;"><span>3 years</span><p style="vertical-align: center;font-weight: bold;color:white;">70%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_git.png"/><p>Git</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 50%;background-color: skyblue;border-radius: 5px;"><span>1 year</span><p style="vertical-align: center;font-weight: bold;color:white;">50%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_firebase.png"/><p>Google Firebase</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 50%;background-color: skyblue;border-radius: 5px;"><span>1 year</span><p style="vertical-align: center;font-weight: bold;color:white;">50%</p></div></div></li>
                                <li><div class="skill_type"><img width="48" height="48" src="img/skill_aws.png"/><p>AWS</p></div><div class="skill_Proficiency"><div class="skill_Proficiency_percent" style="float: right;height: 100%;width: 30%;background-color: skyblue;border-radius: 5px;"><span>2 months</span><p style="vertical-align: center;font-weight: bold;color:white;">30%</p></div></div></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
            <section class="scene one" id="works">
                <h1 class="scene_title">Works</h1>
                <div class="cards_wrapper">
                    <div class="cards">
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_0.png"/>
                                <div class="card_type">
                                    # Web
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    G.H.Park Portfolio Web
                                </h3>
                                <p class="card_title" data-langNum="i_0">
                                    포트폴리오 웹사이트
                                </p>
                                <span class="card_info">
                                    <a target=_blank href="https://github.com/HOBOOK/portfolioWeb">
                                        <i class="fab fa-github"></i> Git hub
                                    </a>
                                    <a target=_blank href="http://www.hobookgames.site">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_9.png"/>
                                <div class="card_type">
                                    # Web
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Saghistory
                                </h3>
                                <p class="card_title" data-langNum="i_1">
                                    커플 사진 저장, 블로그 웹사이트
                                </p>
                                <span class="card_info">
                                    <a target=_blank href="https://github.com/HOBOOK/Saghistory">
                                        <i class="fab fa-github"></i> Git hub
                                    </a>
                                    <a target=_blank href="http://www.hobookgames.site/saghistory/index.jsp">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_12.png"/>
                                <div class="card_type">
                                    # Web
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Do The G
                                </h3>
                                <p class="card_title" data-langNum="i_2">
                                    교내 콘텐츠 제공 웹사이트
                                </p>
                                <span class="card_info">
                                    <a target=_blank href="http://www.hobookgames.site/pdf/dotheg.pdf">
                                        <i class="fas fa-file-pdf"></i> PDF
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_11.png"/>
                                <div class="card_type">
                                    # Android App
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    HistoAR
                                </h3>
                                <p class="card_title" data-langNum="i_3">
                                    증강현실을 이용한 역사탐방어플리케이션 프로젝트
                                </p>
                                <span class="card_info">
                                    <a target=_blank href="http://www.hobookgames.site/pdf/histoar.pdf">
                                        <i class="fas fa-file-pdf"></i> PDF
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_10.png"/>
                                <div class="card_type">
                                    # Blog
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Studying Blog
                                </h3>
                                <p class="card_title" data-langNum="i_4">
                                    알고리즘 문제 풀이 기록 블로그
                                </p>
                                <span class="card_info">
                                    <a target=_blank href="https://blog.naver.com/pkh879">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_1.png"/>
                                <div class="card_type">
                                    # Mobile Game
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Push Cube
                                </h3>
                                <p class="card_title" data-langNum="i_5">
                                    안드로이드 모바일 퍼즐 게임 프로젝트
                                </p>
                                <span class="card_info">
                                    <span class="popupVideo">
                                        <a data-video="CsW758NgrFY">
                                            <i class="fab fa-youtube-square"></i> Youtube
                                        </a>
                                    </span>
                                    <a target=_blank href="https://github.com/HOBOOK/PushCube">
                                        <i class="fab fa-github"></i> Git hub
                                    </a>
                                    <a target=_blank href="https://play.google.com/store/apps/details?id=com.HobookGames.PushCube">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_2.png"/>
                                <div class="card_type">
                                    # Mobile Game
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Flat Heroes
                                </h3>
                                <p class="card_title" data-langNum="i_6">
                                    안드로이드 모바일 RPG 게임 프로젝트
                                </p>
                                <span class="card_info">
                                    <span class="popupVideo">
                                        <a data-video="ZgJj51aOMvE">
                                            <i class="fab fa-youtube-square"></i> Youtube
                                        </a>
                                    </span>
                                    <a target=_blank href="https://github.com/HOBOOK/Flat-Heroes">
                                        <i class="fab fa-github"></i> Git hub
                                    </a>
                                    <a target=_blank href="https://play.google.com/store/apps/details?id=com.HobookGames.FlatHeros">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_container">
                                <img src="img/i_5.png"/>
                                <div class="card_type">
                                    # Mobile Game
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">
                                    Lifee
                                </h3>
                                <p class="card_title" data-langNum="i_7">
                                    안드로이드 모바일 시뮬레이션 게임 프로젝트
                                </p>
                                <span class="card_info">
                                    <span class="popupVideo">
                                        <a data-video="R6od9USvgU8">
                                            <i class="fab fa-youtube-square"></i> Youtube
                                        </a>
                                    </span>
                                    <a target=_blank href="https://github.com/HOBOOK/Lifee">
                                        <i class="fab fa-github"></i> Git hub
                                    </a>
                                    <a target=_blank href="https://play.google.com/store/apps/details?id=com.jegh.getajob">
                                        <i class="fas fa-link"></i> Link
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="scene three" id="contact">
                <h1 class="scene_title">Contact</h1>
                <div class="contact_mail">
                    <form onsubmit="return formCheck(this)" class="gform" method="POST" data-email="pkh879@gmail.com"
                          action="https://script.google.com/macros/s/AKfycbzWseXWbbJegzYE0gErbyA2FBr3IyCgRoYoE7fjz4YcAnwR3xg/exec">
                        <fieldset>
                            <legend><span class="number">1</span><span data-langNum="mail_info_category_0">보내는 분</span></legend>
                            <input type="text" name="name" placeholder="Your Name" required>
                            <input type="email" name="email" placeholder="Your Email Address" required>
                        </fieldset>
                        <fieldset>
                            <legend><span class="number">2</span><span data-langNum="mail_info_category_1">내용</span></legend>
                            <textarea name="message" placeholder="Message" required></textarea>
                            <label class="sr-only">Keep this field blank</label>
                            <input id="honeypot" type="text" name="honeypot" value="" />
                        </fieldset>
                        <input type="submit" value="Send">

                        <div style="display:none;" class="thankyou_message">
                            <!-- You can customize the thankyou message by editing the code below -->
                            <div id="popup">
                                <p>성공적으로 메시지가 전송되었습니다!</p>
                                <div class="popup_exit">닫기</div>
                            </div>
                        </div>
                    </form>
                </div>

            </section>

        </div>
        <!-- 바텀 레이아웃 -->
        <footer class="bottom">
            <a class="menu_click" href="header"><i class="fas fa-chevron-up"></i></a>
            <img style="width:48px; height: 48px;" src="img/logo.png" alt="로고"/><span>© 2020 G.H Park. All Rights Reserved.</span>
        </footer>
        <!-- 네비 레이아웃 -->
        <nav class="nav">
            <div class="nav_content">
                <ul>
                    <li><a class="nav_item" href="about"><i class="fas fa-address-card"></i><p data-langNum="header_menu_0">소개</p></a></li>
                    <li><a class="nav_item" href="works"><i class="fas fa-gamepad"></i><p data-langNum="header_menu_1">작업물</p></a></li>
                    <li><a class="nav_item" href="contact"><i class="fas fa-mail-bulk"></i><p data-langNum="header_menu_2">연락</p></a></li>
                </ul>
                <div class="contact">
                    <p class="contact_info" style="color:#F0F0F0; font-weight: bold">박경호</p>
                    <p class="contact_info" style="color:#B0B0B0;">Game Programmer</p>
                    <p class="contact_info" style="color:#B0B0B0;">pkh879@gmail.com</p>
                </div>
            </div>
        </nav>
        <div style="1px;" class="spacer"></div>

        <!-- 팝업 화면 -->
        <div class="video-popup">
            <div class="video-popup-closer"></div>
        </div>
    </div>

    <!-- js -->
    <script src="js/language.js"></script>
    <script src="js/menu.js"></script>
    <script data-cfasync="false" src="form-submission-handler.js"></script>
    <script data-cfasync="false" type="text/javascript"
            src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

</body>
</html>